/******
* TODO: Minify this for production...
******/

/**
* RESETS
*/

img, a, input, input:active {
    border: none;
    outline: none;
}

/**
* ELEMENT STYLES DERIVED FROM SKETCH
*/

.profile img {
    background: rgba(74,73,74,0.20);
    border: 6px solid #FFFFFF;
}

form input .container {
    border: 2px solid #4A90E2;
    border-radius: 4px;
}

form input .line {
    opacity: 0.3;
    border: 1px solid #979797;
}

form input {
    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 25px;
}

/**
* LAYOUT
*/
html, body {
    background: white;
}
body {
    font-family: AvenirNext-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;

    width: 310px;
    position: relative;

    padding: 0 20px 0 20px;
    margin: 0 auto;
    text-align: center;
}

#container {
    min-height: 400px;
}

#container #profile {
    margin-top:70px;
}

#container #profile h4 {
    font-family: AvenirNext-Regular;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 3.42px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
}

#container #profile h1 {
    font-family: AvenirNext-Regular;
    font-size: 48px;
    color: #000000;
    line-height: 66px;
    font-weight: normal;
    padding:0;
    margin:0;
    line-height: 0.7;
}

#container #profile > img {
    height: 180px;
    width: auto;
    border: none;
    outline: none;
}

#container form {
    margin-top: 40px;
}

#container form .container {
    border: 2px solid #4A90E2;
    border-radius: 4px;
    height: 56px;
}
#container form .container h5 {
    margin-top: 16px;
    font-family: AvenirNext-Regular;
    font-weight: normal;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 25px;
}

#container form .container input[name=tel] {
    display:inline-block;
    float:left;
    padding: 10px 0 10px 10px;
    margin: 0;

    overflow: auto;
    height: 56px;
    width: 180px;

    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 25px;

    border-left: 1px solid #e7e7e7;
    background:none;
}

#container form .container input[type=submit] {
    float:right;

    display: inline-block;
    padding-top:0px;
    width: 40px;
    height: 100%;

    border-left: 1px solid #e7e7e7;

    font-family: AvenirNext-Regular;
    font-size: 18px;
    font-weight: normal;
    background: #f7f7f7;
    color: #e2e2e2;
}

.error, #container form .container input.error {
    background: #ff7f7f;

    -webkit-animation:fadeInOutError ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeInOutError ease-in 1;
    animation:fadeInOutError ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.success, #container form .container input.success {
    background: #cbffde;
}

#container form .container .country {
    display: inline-block;
    margin-top:15px;
    width: 70px;
    float: left;

    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #9B9B9B;
}

#container form .container .country img {
    vertical-align: middle;
}

.fadeInOut {
    opacity: 0;  /* make things invisible upon start */
}

.fadeIn {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeInOutError { 0% { background: inherit; } 25% { background: #ff7f7f;} 100% { background: none; } }
@-moz-keyframes fadeInOutError { 0% { background: inherit; } 25% { background: #ff7f7f} 100% { background: none; } }
@keyframes fadeInOutError { 0% { background: inherit; } 25% { background: #ff7f7f;} 100% { background: none; } }

@-webkit-keyframes fadeInOutSuccess { 0% { background: inherit; } 25% { background: #cbffde;} 100% { background: none; } }
@-moz-keyframes fadeInOutSuccess { 0% { background: inherit; } 25% { background: #cbffde} 100% { background: none; } }
@keyframes fadeInOutSuccess { 0% { background: inherit; } 25% { background: #cbffde;} 100% { background: none; } }
