<html>
    <% include ../partials/header.ejs %>

    <body>
        <div id="container">
            <div id="profile">
                <img src="/no-user-image.gif" alt="" />

                <h4>Referred By</h4>
                <h1>Jane Bear</h1>

                <p>Invite someone using the rest path: <BR />https://boiling-gorge-3368.herokuapp.com/invite/1/PHONE_NUMBER_TO_INVITE</p>

                <!--<form>
                    <div class="container">
                        <div class="country"><img src="/flag.png" height="28" width="40px" />+1</div>
                        <input type="tel" name="tel" required pattern="[0-9]{3}-{0,1}[0-9]{3}-{0,1}[0-9]{4}" maxlength="10" placeholder="Enter your phone #" />
                        <input type="submit" value="Go" /
                    </div>
                </form>-->
            </div>

        </div>

        <div id="footer">
            <a href="<%= config.site %>"><img src="/logo.png" alt="Flare" height="48" /></a>
        </div>
    </body>
</html>
