<html>
    <% include ../partials/header.ejs %>

    <body>
        <div id="container">
            <div id="profile">
                <h4>Welcome. You can't do anything here</h4>
            </div>
        </div>

        <div id="footer">
            <a href="<%= config.site %>"><img src="/logo.png" alt="Flare" height="48" /></a>
        </div>
    </body>
</html>
